* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat', sans-serif; 
}
.container {
    max-width: 1230px ;
    margin: auto;
}
li {
    list-style: none;
}
a,span  {
    display: inline-block;
    text-decoration: none;
}
.row {
     display: flex;
     flex-wrap: wrap;
}
.col-6 {
    width: 50%;
}
.font-regular {
    font-weight: 400;
}