.hero {
    background: #F9F6F1; 
    min-height: 800px; 
    position: relative;
}
.hero__row {
    padding-top: 216px;
    display: flex;
    min-height: 100vh !important;
}
.hero__suptitle {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.02em;
}
.hero__title {
    margin: 35px 0 55px;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 1;
    letter-spacing: 0.04em;
}
.hero__btn {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1 ;
    letter-spacing: 0.03em;
    color: white;
    background-color: #D7B399;
    text-decoration: none;
    padding: 18px 30px;
}
.hero__item {
    position: relative;
    padding-top: 100px;
}
.hero__oldPrice, 
.hero__newPrice {
text-align: right;
}
.hero__product {
    position: absolute ;
    top: 100px;
}
.hero__oldPrice {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
    text-align: right;
    letter-spacing: 0.05em;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #000000;
}
.hero__newPrice {
    margin-top: 15px;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 1;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #D84033;
}
.col-6 {
    width: 50%;
}
.slick-initialized .slick-slide {
    display: flex !important;
}
.slick-slide {
     border: none !important;
     outline: none !important;
}
.slick-arrow {
    display: none !important ;
}
.hero .slick-dots {
    position: absolute;
    bottom: 90px;
    left: 50%;
    display: flex;
    list-style: none;
    transform: translateX(-50%);
}
.hero .slick-dots button {
    cursor: pointer; 
    font-size: 0;
    width: 40px;
    height: 7px;
    background-color: #CECECE;
    border: none;
    outline: none;
    margin-right: 15px;
}
.hero .slick-dots .slick-active button {
    background-color: #D7B399;
}